@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.mapa{
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  @media (max-width: $desktop){
    flex-direction: column;
    padding: 0;
  }

  img{
    @media (max-width: $tablet){
      width: 100%;
    }
  }

  &__legenda{
    margin-left: 3rem;
    @media(max-width: $desktop){
      margin-left: 0;
      padding: 0;
    }
    @media (max-width: $tablet){
      margin-top: 2rem;
    }
    h6{      
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
    ul {
      margin-top: 1.5rem;
      li{      
        display: flex;
        justify-self: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        @media (max-width: $tablet){
          padding: 1rem 0;
        }
        &::before{
          margin-right: 1rem;
        }        
        &:first-child::before{
          content: url('./legenda/pistapremium.png');
        }
        &:nth-child(2)::before{
          content: url('./legenda/pistacomum.png');
        }
        &:nth-child(3)::before{
          content: url('./legenda/cadeiraterreo.png');
        }
        &:nth-child(4)::before{
          content: url('./legenda/cadeirasuperior.png');
        }
        &:last-child::before{
          content: url('./legenda/rampas.png');
        }
      }
    }
    
    
  }
}

.detalhes{
  color: #444444;
  h5{
    text-align: center;
    margin: 2rem auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }

  &__cards{
    display: flex;   
    text-align: center; 
    padding: 0 5vw;
    gap: 1.5rem;
    @media (max-width: $desktop){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 2rem 1.5rem;
      gap: 3rem;
    }
  }

  &__card{
    &:nth-child(2){
      margin-top: 6.5rem;
      @media (max-width: $desktop){
        margin-top: 0;
      }
    }
    h6{        
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      padding: 1.5rem 0;
    }
    p{        
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
    }
  }
}