$azul-escuro: #2E7BA2;
$azul-escuro-sombra: #444444;
$amarelo : #FACF9D;
$azul-claro : #C8DEEF;
$mostarda : #DF9010;
$coral : #FBF0DD;
$branco: rgba(255, 255, 255, 1);
$cinza: rgba(68, 68, 68, 1);
// $gradiente-verao : linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);

$padding-horizontal: 120px;

