@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.formulario {
  color: $cinza;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem 20rem;
  gap: 2rem;
  label{    
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
  }
  input{
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 98%;
  }
  &__campo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
    .dropdown{
      display: flex;
      flex-direction: column;
      &__select {
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 0.5rem;
        width: 100%;
        margin-top: 0.5rem;
        @media (max-width: $desktop){
          width: 100%;
        }
      }
    }
  }
  .select{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    input{
      width: 20vw;
    }
  }
  button{
    width: fit-content;
  }

  @media (max-width: $desktop){
    padding: 5rem;
    .select{
      flex-direction: column;
      input{
        width: 98%;
      }
    }
  }

  .buyTicket{
    background-color: $azul-escuro;
    border: 1px solid $azul-escuro;
    padding: 0.5rem 1rem;
    color: $branco;
    box-shadow: 4px 4px 0px $azul-escuro-sombra;
    border-radius: 1rem;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 40px;
    margin: 0 auto;
    text-decoration: none;
    img{
      margin-left: 1rem;
    }
    &:hover{
      background-color: $hover;
      cursor: pointer;
    }
  
  }

  .mensagem_erro{
    color: red;
  }

  a{
    text-decoration: none;
  }

}


