@import 'src/styles/variables';
@import 'src/styles/breakpoints';


@media (min-width: $mobile){
  .formulario{
    color: $cinza;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem 1.5rem;
    .divisaoCampos{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    label{
      font-weight: 700;
      font-size: 2rem;
      line-height: 38px;
    }
    input{
      box-sizing: border-box;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 1.5rem;
      padding: 0.5rem;
      width: 100%;
    }
    &__campo{
      display: flex;
      flex-direction: column;
      gap: 0.5rem; 
      .dropdown{
        &__select{
          border: none;
          outline: none;
          font-weight: 400;
          font-size: 1.5rem;
          padding: 0.5rem;
        }
      }      
    }
    button{
      width: fit-content;
      svg{
        scale: 1.5;
      }
    }  
    .buyTicket{
      background-color: $azul-escuro;
      border: 1px solid $azul-escuro;
      padding: 0.5rem 1rem;
      color: $branco;
      box-shadow: 4px 4px 0px $azul-escuro-sombra;
      border-radius: 1rem;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 40px;
      margin: 0 auto;
      text-decoration: none;
      img{
        margin-left: 1rem;
      }
    }
    .mensagem_erro{
      color: red;
    }

    a{
      text-decoration: none;
    }
  }  
}

@media (min-width: $tablet){
  .formulario{    
    padding: 0 5rem;
    &__campo{
      .dropdown{
        &__select{
          flex-direction: column;
          width: 100%;
        }
      }      
    }
    .mensagem_erro{
      font-size: 1.25rem;
    }
  }
}

@media (min-width: $desktop){
  .formulario{
    padding: 3rem 20rem;
    
    .divisaoCampos {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .formulario__campo{
        width: 45%;
      }
    }
    .buyTicket{
      img{}
      &:hover{
        background-color: $hover;
        cursor: pointer;
      }
    }
  }  
}

