@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.formulario {
  color: $cinza;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem 20rem;
  gap: 2rem;
  label{    
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
  }
  input{
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 98%;
  }
  &__campo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .select{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    input{
      width: 20vw;
    }
  }
  button{
    width: fit-content;
  }

  @media (max-width: $desktop){
    padding: 5rem;
    .select{
      flex-direction: column;
      input{
        width: 98%;
      }
    }
  }

  .mensagem_erro{
    color: red;
  }

}


