@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.container {
  .sobre {
    display: flex;
    padding: 64px $padding-horizontal;
    gap: 48px; 

    @media (max-width: $desktop){
      flex-direction: column;
      align-items: center;
      padding: 2rem 1.5rem;
      gap: 0;
    }

    &__descricao{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px 0;
      text-align: center;
      align-items: center;

      @media (max-width: $tablet){
        padding-bottom: 0;
      }

      &__titulo{
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
      }

      &__texto{      
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2.5rem;
        padding: 24px 0;
      }
    }
  }

  .lineup {
    h2 {
      font-family: 'Calistoga', cursive;
      font-size: 4rem;
      font-weight: 400;
      line-height: 83px;
      text-align: center;
      padding: 2rem 0;

      @media (max-width: $tablet){        
        font-size: 48px;
        line-height: 62px;
      }
    }    
  }

  .imagem_home{
    width: 100%;
  }

  
  @media (min-width: $tablet) and (max-width: $desktop){
  }
  
}
 
