@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.informacoes{
  color: #444444;
  .titulo__pagina{
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    padding: 3rem 0;
  }

  .faq__cards{
    padding: 0 13rem 3rem 13rem;
    button{
      border: none;
      background-color: $azul-escuro;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $branco;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 38px;
      padding: 1rem;
      width: 100%;
      margin-top: 0.5rem;
    }
    
    p{      
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      background: #C8DEEF;
      padding: 1rem;
      margin-bottom: 1.5rem;
    }
    @media (max-width: $desktop){
      padding: 0 3.75rem 3rem 3.75rem;
    }
    @media (max-width: $tablet){
      padding: 0 1.5rem 3rem 1.5rem;
    }
  }  
}