@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.menu{
  background-color: $azul-escuro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7.5rem;
  @media (max-width: $tablet){
    // display: block;
    // padding: 2rem 0 2rem 1.5rem;
  }
  
  @media (min-width: $tablet) and (max-width: $desktop){
    // flex-direction: column;  
    // padding: 2rem 3.75rem;
  }

  &__list {
    display: flex;
    align-items: center; 
    flex-flow: row nowrap;   
    @media (min-width: $tablet) and (max-width: $desktop){
      // justify-content: space-between;
      // margin-top: 2rem;
    }
  }
  
  &__link{
    padding-left: 20px;
    * {
      text-decoration: none;
      color: $branco;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
    }
  } 
}