@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.menu{
  background-color: $azul-escuro;
  //width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7.5rem;
  &__logo:hover{
    transform: scale(1.2);
    transition: all .5s ease-in-out ;
  }
  @media (max-width: $tablet){
    padding: 2rem 3rem;
    flex-direction: row;
  }
  
  @media (min-width: $tablet) and (max-width: $desktop){
    flex-direction: column;
    height: fit-content;    
    padding: 2rem 5rem;
  }
}