@import "/src/styles/variables";
@import "src/styles/breakpoints";

@media (min-width: $mobile) {
  .lineup {
    color: $cinza;
    &__header {
      font-size: 3rem;
      line-height: 62px;
      font-family: "Calistoga", cursive;
      font-weight: 400;
      text-align: center;
      margin: 2rem auto;
    }

    &__programa {
      &__data {
        display: flex;
        align-items: center;
        font-size: 2rem;
        hr {
          display: none;
        }
        h3 {
          line-height: 42px;
          background-color: $mostarda;
          color: $branco;
          font-family: "Calistoga", cursive;
          font-size: 2rem;
          padding: 1rem;
          text-align: center;
          text-transform: uppercase;
          margin: 3rem auto 0 auto;
        }
      }
    }  
  }  
}

@media (min-width: $tablet) {
  .lineup {
    &__header {
      font-size: 4rem;
      line-height: 83px;
    }
    &__programa {
      &__data {
        padding-top: 3rem;
        hr {
          display: inline-block;
          border-color: $mostarda;
          width: 15%;
          margin: 0 auto;
        }
        h3 {
          font-size: 3rem;
          line-height: 62px;
          margin-top: 0;
        }
      }      
    }
  }
}

@media (min-width: $desktop) {
  .lineup {
    display: flex;
    flex-direction: column;   
    hr{
      width: 25%;;
    } 
  }
}

/*
.lineup{ 
  display: flex;
  flex-direction: column;
  color: $cinza;
  &__header{
    font-family: 'Calistoga', cursive;
      font-size: 4rem;
      
      text-align: center;
      padding: 2rem 0;
  }
  &__data {
    display: flex;
    align-items: center;
    padding: 0 $padding-horizontal;
    @media (max-width: $desktop){
      padding: 0;
    }

    hr {
      border-color: $mostarda;
      margin: 0;
      width: 13vw;
      @media (max-width: $tablet){
        display: none;
      }
      @media (min-width: $tablet) and (max-width: $desktop){
        width: 150px;
        margin: 0 auto;
      }
    }

    h3 {
      background-color: $mostarda;  
      color: $branco;
      font-family: 'Calistoga', cursive;
      font-size: 3rem;
      padding: 1rem;
      font-weight: 400;      
      line-height: 62px;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto;
      @media (max-width: $tablet){        
        font-size: 2rem;
        line-height: 42px;
      }
    }   
  }

  &__bandas {
    margin: 3rem auto;    
    display: flex;
    flex-direction: column;
    row-gap: 2rem; 
    @media (min-width: $tablet) and (max-width: $desktop){
      margin: 3rem 3.75rem;      
    }

    &__linha{
      display: flex;
      align-items: center;
      justify-content: center; 
      gap: 2rem;
      @media (max-width: $tablet){
        flex-direction: column;
        gap: 1rem;
      }
      @media (min-width: $tablet) and (max-width: $desktop){
        flex-wrap: wrap;
      }
    }
    
    h2{
      font-weight: 800;
      font-size: 3rem;
      line-height: 3.625rem;
    }
    
    h5{      
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    
    h6{      
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.375rem;
    }
    
    h4{      
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.375rem;
    }
  }
}
*/
