@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.exp {
  &__card{
    padding: 4rem 7.5rem 0 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    @media (max-width: $desktop){
      flex-direction: column;
      padding: 2rem 1.5rem;
      text-align: center;
      gap: 1rem;
    }

    &:nth-child(3){
      flex-direction: row-reverse;
      text-align: right;
      @media (max-width: $desktop){
        flex-direction: column;
        padding: 2rem 1.5rem;
        text-align: center;
      }
    }

    &__texto{
      h6{
        font-weight: 700;
        font-size: 2rem;
        line-height: 38px;
      }

      p{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 40px;
        margin-top: 1.5rem;
      }
    }
  }
}

