@import 'src/styles/variables';
@import 'src/styles/breakpoints';

@media (min-width: $mobile){
  .exp {
    &__card{
      display: flex;
      flex-direction: column;
      text-align: center;
      picture img{
        flex: none;
        padding: 2rem 1.5rem;
      }
    }
  
    &__texto{
      h6{
        font-weight: 700;
        font-size: 2rem;
        line-height: 38px;
      }

      p{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 40px;
        margin-bottom: 2rem;
        padding: 0 1.5rem;
      }
    }
  }
}  

@media (min-width: $tablet){
  .exp {  
    &__texto{
      p{
        padding: 0 7.5rem;
      }
    }
  }
}  

@media (min-width: $desktop){
  .exp {
    &__card{
      padding: 4rem 7.5rem 0 7.5rem;
      flex-direction: row;
      align-items: center;
      gap: 3rem; 

      &:nth-child(3){
        flex-direction: row-reverse;
        h6, p{
          text-align: right;
        }
      }
    }

    &__texto {
      text-align: start;
      p {
        margin-top: 1.5rem;
        padding: 0;
      }
    }    
  }
}


